.post-card {
    width: 23rem;
    margin: 20px;
}

.post-top {
    max-height: 80px;
    display: flex;
    justify-content: space-between;
}

.post-round-text {
    width: 40px;
    height: 40px;
    text-align: center;
    padding-top: 5px;
    border-radius: 100px;
    border: 1px solid lightgray;
    font-weight: bold;
}

.post-image {
    float: left;
    width:  100px;
    height: 300px;
    object-fit: cover;
}

.post-title {
    font-size: 34px !important;
}

.post-text {
    margin-top: 35px;
}

.songs-buttons-container {
    display: flex;
    justify-content: center;
}

.songs-button {
    margin: 10px;
}

.songs-button-disable {
    margin: 10px;
}

.songs-button:hover .button-img{
    filter: invert(1);
}

.button-img-size {
    width: 20px;
    height: 20px;
    transform: translate(0%, -10%);
}

.button-img-not-liked {
    filter: invert(40%) sepia(52%) saturate(2233%) hue-rotate(332deg) brightness(81%) contrast(96%);
}

.songs-button:hover .button-img-not-liked{
    filter: invert(1);
}

.button-img-liked {
    filter: invert(1);
}

.button-img {
    filter: invert(.5);
}